*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {/*
  background-image: url(/assets/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center; 
  background-size: cover;  */    
  background: var(--bg-url) no-repeat top center/cover;
}

body *{
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  
}

.container {
  margin: 46px auto 0px;
  width: 360px;
  padding: 0 24px;
  height: 1000px;  /* pra cobrir as sobras que faltava quando o site fica responsivel em formato mobile.  */
  }

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
  border-radius: 50%;
  
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  
}

ul li a{
  justify-content: center;
  display: flex;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: (4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  border-radius: 8px;
  transition: background 0.2s;
}

ul li a:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

.meus-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

.meus-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
}

.icons {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
}

.meus-links a:hover {
  background: var(--hightlight-color);
  border-radius: 50%;
}

:root {
  --text-color: white;
  --bg-url: url(/assets/assets/bg-desktop.jpg);
  --stroke-color: rgba(255,255,255, 0.5);
  --surface-color: rgba(255,255,255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --hightlight-color: rgba(255,255,255,0.2);
  --switch-bg-url: url(/assets/assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(/assets/assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0,0,0,0.5);
  --surface-color: rgba(0,0,0,0.05);
  --surface-color-hover: rgba(0,0,0,0.12);
  --hightlight-color: rgba(0,0,0,0.1);
  --switch-bg-url: url(/assets/assets/sun.svg);
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
 

#switch button{
  width: 32px;
  height: 32px;
  background: white center var(--switch-bg-url) no-repeat;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1; /* esse comando sobe o elemento para 1 andar a cima */
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  --webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}




